<mat-card class="widthBoxPasswordRecovery">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Ingrese su correo electrónico y se le enviará las instrucciones para
      restablecer la contraseña
    </p>
    <form class="formPasswordRecovery" [formGroup]="formPasswordRecovery">
      <dale-atm-input
        id="username"
        [formControl]="getControl('email')"
        label="Correo electrónico"
        placeholder="Digite su correo electrónico"
        type="email"
        [icon]="iconEmail"
        [errors]="errorsEmail"
        ngDefaultControl
      ></dale-atm-input>
    </form>
    <div class="textCenter buttonPanel">
      <div>
        <dale-atm-button
          [disabled]="formPasswordRecovery.invalid"
          [width]="btnWidth"
          [btnText]="btnTextPasswordRecovery"
          [btnExecute]="btnExecute"
        ></dale-atm-button>
      </div>
      <div>
        <dale-atm-link-button
          [width]="btnWidth"
          [text]="lnkText"
          [routerLink]="lnkURL"
        ></dale-atm-link-button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
