.widthBoxPasswordRecovery {
  width: 400px;
}

.textCenter {
  text-align: center;
}

.buttonPanel > div {
  margin-bottom: 8px;
}

.buttonPanel > div:last-child {
  margin-bottom: 0px;
}

.formPasswordRecovery {
  margin-bottom: 8px;
}
